{% load strutils %}
{% load styles %}

{% with url_name='views.kcidb.builds' id=occurrence.kcidb_build.iid style=occurrence.kcidb_build.valid|get_style %}
  <tr class="d-flex {{ style }} border-left-status table-status">
    <td class="col-1">
      <div class="row">
        <div class="col-6 rotate" align="left">
          {% include 'user_ball.html' with user=occurrence.created_by timestamp=occurrence.created_at title='Tagged by' %}
        </div>
        <div align="col-6" align="right">
          <a href="{% url url_name id %}" class="clickable-cell">
            <i class="{{ style.icon_name }} text-status"></i>
            {% if occurrence.is_regression %}
              <span class="badge badge-danger">REGRESSION</span>
            {% endif %}
          </a>
        </div>
      </div>
    </td>

    {% include 'tables/cell_clickable.html' with size='3' text=occurrence.kcidb_build.id|remove_prefix:strip_id_prefix extra_attr='align="center"' %}
    {% include 'tables/cell_clickable.html' with size='1' text=occurrence.kcidb_build.get_architecture_display class_attr="text-right" %}
    {% include 'tables/cell_clickable.html' with size='1' text=occurrence.kcidb_build.debug|yesno:"debug," %}
    <!-- Empty cell to fill the rest of the space -->
    {% include 'tables/cell_clickable.html' with size='fill' %}


    <!-- Button to remove this Build from the issue -->
    <td class="col-1">
      <form action={% url 'views.kcidb.issues' %} method="post" onsubmit="return confirmRemoveBuild();">
        {% csrf_token %}
        <input type="hidden" id="action" name="action" value="remove">
        <input type="hidden" id="issue_id" name="issue_id" value="{{ grouped_issue.issue.id }}">
        <input type="hidden" id="build_iids" name="build_iids" value="{{ occurrence.kcidb_build.iid }}">
        <input type="hidden" id="redirect_to" name="redirect_to" value="{{ request.get_full_path }}">
        <button type="submit" class="close">
          <span>&times;</span>
        </button>
      </form>
    </td>
    <!-- End Button to remove this Build from the issue -->

  </tr>
{% endwith %}
