{% comment %}
Renders a table of IssueRegex

Args:
  show_issue_hide_modified: Either the "Issue" column should be rendered or
    the "Created by/Last edited by" column.
{% endcomment %}

{% load strutils %}

<div class="table-responsive">
  <table class="table table-hover table-sm mb-0" width="100%" cellspacing="0">
    <thead>
      <tr class="d-flex">
        {% if show_issue %}
        <th class="col-2">Issue</th>
        {% endif %}
        <th class="col">Text</th>
        <th class="col-1-big">File Name</th>
        <th class="col-1-big">Test Name </th>
        <th class="col-1">Subtest Name </th>
        <th class="col-1">Architecture</th>
        <th class="col-1">Package Name</th>
        <th class="col-1">Tree Name</th>
        <th class="col-1">KPET Tree Name</th>
        <th class="col-0-5"><!-- Created by/Last edited by--></th>
      </tr>
    </thead>
    <tbody>
    {% for issue_regex in issue_regexes %}
      {% with url_name='views.issue_regex.get' id=issue_regex.id %}
      <tr class="d-flex">
        {% if show_issue %}
        {% include 'tables/cell_clickable.html' with size='2' text=issue_regex.issue.description %}
        {% endif %}

        {% include 'tables/cell_clickable.html' with size='fill' wrapper='code' text=issue_regex.text_match %}
        {% include 'tables/cell_clickable.html' with size='1-big' wrapper='code' text=issue_regex.file_name_match %}
        {% include 'tables/cell_clickable.html' with size='1-big' wrapper='code' text=issue_regex.test_name_match %}
        {% include 'tables/cell_clickable.html' with size='1' wrapper='code' text=issue_regex.testresult_name_match %}
        {% include 'tables/cell_clickable.html' with size='1' wrapper='code' text=issue_regex.architecture_match %}
        {% include 'tables/cell_clickable.html' with size='1' wrapper='code' text=issue_regex.package_name_match %}
        {% include 'tables/cell_clickable.html' with size='1' wrapper='code' text=issue_regex.tree_match %}
        {% include 'tables/cell_clickable.html' with size='1' wrapper='code' text=issue_regex.kpet_tree_name_match %}

        <td class="col-0-5">
          <a href="{% url url_name id %}" class="clickable-cell">
          {% include 'user_ball.html' with user=issue_regex.created_by timestamp=issue_regex.created_at title='Created by' %}
          {% if issue_regex.was_edited %}
            {% include 'user_ball.html' with user=issue_regex.last_edited_by timestamp=issue_regex.last_edited_at title='Last edited by' %}
          {% endif %}
          </a>
        </td>

      </tr>
      {% endwith %}
    {% endfor %}
    </tbody>
  </table>
</div>
