{% load cache %}
{% load styles %}
{% load getattribute %}
{% load strutils %}

<div class="table-responsive">
  <table class="table table-hover table-sm" width="100%" cellspacing="0">
    <thead>
      <tr class="d-flex">
        <th class="col-1"></th>
        <th class="col-2">ID</th>
        <th class="col-1">Tree</th>
        <th class="col-1">Branch</th>
        <th class="col-2">Start Time</th>
        <th class="col-1">Valid</th>
        <th class="col-2">Builds</th>
        <th class="col-2">Tests</th>
      </tr>
    </thead>
    <tbody>
      {% for checkout in checkouts %}
        {% cache DEFAULT_CACHE_TTL_S table_kcidb_checkouts_row checkout.iid %}
        {% with url_name='views.kcidb.checkouts' id=checkout.iid %}
          <tr class="d-flex">
            <td class="col-1">
              {% include 'link_gitlab_mergerequest.html' with hide_text=True %}
              {% if checkout.all_sources_targeted %}
                <i class="fas fa-bullseye text-success" title="All sources have targeted tests"></i>
              {% endif %}
              {% if checkout.reports.exists %}
              <i class="fas fa-envelope-open-text text-primary" title="Has reports"></i>
              {% endif %}
              {% if checkout.has_objects_with_issues %}
              <i class="fas fa-bug text-danger" title="Has issues associated"></i>
              {% endif %}
              {% if checkout.has_objects_missing_triage %}
              <i class="fas fa-fire-extinguisher text-danger" title="Has failures without issues associated"></i>
              {% endif %}
            </td>

            {% include 'tables/cell_clickable.html' with size='2' text=checkout.id|truncatechars:41 title=checkout.id %}
            {% include 'tables/cell_clickable.html' with size='1' text=checkout.tree.name %}
            {% include 'tables/cell_clickable.html' with size='1' text=checkout.git_repository_branch %}
            {% include 'tables/cell_clickable.html' with size='2' text=checkout.start_time %}

            <!-- Checkout valid cell -->
            {% with style=checkout.valid|get_style %}
            <td align="center" class="col-1 {{ style }} table-status">
              <a href="{% url url_name id %}" title="{{ checkout.valid|yesno:"Checkout is Valid, Checkout is Not Valid" }}" class="clickable-cell">
                <i class="{{ style.icon_name }} text-status"></i>
              </a>
            </td>
            {% endwith %}

            <!-- Builds cell -->
            <td align="center" class="col-2 {{ checkout.stats_builds_status|get_style:checkout.stats_builds_actionable }} table-status">
              <a href="{% url url_name id %}" class="clickable-cell">
                {% include 'icons_build_status.html' with object=checkout %}
              </a>
            </td>

            <!-- Tests cell -->
            <td align="center" class="col-2 {{ checkout.stats_tests_status|get_style:checkout.stats_tests_actionable }} table-status">
              <a href="{% url url_name id %}" class="clickable-cell">
                {% include 'icons_test_status.html' with object=checkout %}
              </a>
            </td>
          </tr>
        {% endwith %}
        {% endcache %}
      {% endfor %}
    </tbody>
  </table>
</div>
