{% load cache %}
{% load styles %}
{% load getattribute %}
{% load strutils %}

<div class="table-responsive">
  <table class="table table-hover table-sm" width="100%" cellspacing="0">
    <thead>
      <tr class="d-flex">
        <th class="col-1"></th>
        <th class="col-2">ID</th>
        <th class="col-1">Tree</th>
        <th class="col-1">Branch</th>
        <th class="col-1">Package Name</th>
        <th class="col-1">Arch</th>
        <th class="col-2">Start Time</th>
        <th class="col-1">Valid</th>
        <th class="col-2">Tests</th>
      </tr>
    </thead>
    <tbody>
      {% for build in builds %}
        {% cache DEFAULT_CACHE_TTL_S table_kcidb_builds_row build.iid %}
        {% with url_name='views.kcidb.builds' id=build.iid %}
          <tr class="d-flex">
            <td class="col-1">
              {% if build.has_objects_with_issues %}
              <i class="fas fa-bug text-danger" title="Has issues associated"></i>
              {% endif %}
              {% if checkout.has_objects_missing_triage %}
              <i class="fas fa-fire-extinguisher text-danger" title="Has failures without issues associated"></i>
              {% endif %}
            </td>

            {% include 'tables/cell_clickable.html' with size='2' text=build.id|truncatechars:41 title=build.id %}
            {% include 'tables/cell_clickable.html' with size='1' text=build.checkout.tree.name %}
            {% include 'tables/cell_clickable.html' with size='1' text=build.checkout.git_repository_branch %}
            {% include 'tables/cell_clickable.html' with size='1' text=build.package_name %}
            {% include 'tables/cell_clickable.html' with size='1' text=build.get_architecture_display %}
            {% include 'tables/cell_clickable.html' with size='2' text=build.start_time %}

            <!-- Build valid cell -->
            {% with style=build.valid|get_style %}
            <td align="center" class="col-1 {{ style }} table-status">
              <a href="{% url url_name id %}" title="{{ build.valid|yesno:"Build is Valid, Build is Not Valid" }}" class="clickable-cell">
                <i class="{{ style.icon_name }} text-status"></i>
              </a>
            </td>
            {% endwith %}

            <!-- Tests cell -->
            <td align="center" class="col-2 {{ build.stats_tests_status|get_style:build.stats_tests_actionable }} table-status">
              <a href="{% url url_name id %}" class="clickable-cell">
                {% include 'icons_test_status.html' with object=build %}
              </a>
            </td>
          </tr>
        {% endwith %}
        {% endcache %}
      {% endfor %}
    </tbody>
  </table>
</div>
