{% load styles %}

<div class="table-responsive">
  <table class="table table-bordered" id="testTable" width="100%" cellspacing="0">
    <thead>
      <tr class="d-flex">
        <th class="col-1">Result</th>
        <th class="col-2">ID</th>
        <th class="col-6">Test</th>
        <th class="col-2">Provenance</th>
        <th class="col-1"></th>
      </tr>
    </thead>
    <tbody>
    {% for testrun in test_jobs %}
      <tr class="d-flex">
        {% with style=testrun|get_test_style %}
        <td align="center" class="col-1 {{ style }} table-status" title="{{testrun.get_result_display}}">
          <i class="{{ style.icon_name }} text-status"></i>
          <i title="Waived test (this result does not affect overall test result)"
             class="fas {% include 'waived_icon.html' with waived=testrun.waived %}"></i>
          {% with issues_count=testrun.issues.count %}
            {% if issues_count %}
            <i class="fas fa-bug text-danger" title="Has {{ issues_count }} issue(s) associated"></i>
            {% endif %}
          {% endwith %}
        </td>
        <td class="col-2">
          <a href="{% url 'views.kcidb.tests' testrun.iid %}"> {{ testrun.id }}</a>
        </td>
        <td class="col-6">{{ testrun.test.name }}</td>
        <td class="col-2">
          {% for component in testrun.provenance.all %}
          {% include 'link_provenance_component.html' %}
          {% endfor %}
        </td>
        <td class="col-1" data-target="#collapse-logs-{{ testrun.recipe_id }}{{ testrun.test.id }}" data-toggle="collapse" data-group-id="grandparent" data-role="expander"><div><i title="View log files for this test" class="fas fa-scroll"></i></div></td>
        {% endwith %}
      </tr>
      <tr class="collapse" id="collapse-logs-{{ testrun.recipe_id }}{{testrun.test.id}}" aria-expanded="true">
        <td colspan="6">
          <table class="table table-bordered" id="testTable" width="100%" cellspacing="0">
            <tbody>
            {% for log in testrun.output_files.all %}
            <tr>
              <td>{{ log.name }}</td>
              <td><a href="{{ log.url }}">{{ log.url }}</a></td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
