{% load styles %}
{% load strutils %}

<div class="table-responsive">
  <table class="table table-hover table-sm" width="100%" cellspacing="0">
    <tbody>
      {% for result in results %}
        {% with output_files=result.output_files.all url_name='views.kcidb.tests' id=test.iid|default:result.test.iid position="result-"|addstr:result.iid style=result.status|get_style:result.is_missing_triage %}
          <tr id="{{ position }}" class="d-flex {{ style }} border-left-status table-status rotate{% if result.status in unsuccessful_statuses %} down{% endif %}"
            data-target="#collapse-logs-{{ result.id|slugify }}" data-toggle="collapse" data-group-id="grandparent" data-role="expander">
            <td class="col-1 clickable-cell" data-target="#collapse-logs-{{ result.id|slugify }}" data-toggle="collapse" data-group-id="grandparent" data-role="expander" style="min-width:4em">
              <div class="row">
                <div class="col-6 text-left rotate">
                  {% if output_files %}
                    <i class="fas fa-chevron-right chevron"></i>
                  {% endif %}
                </div>
                <div class="col-6 text-right pl-0">
                  {% if result.issues.exists %}
                    <i class="fas fa-bug text-danger" title="Has issues associated"></i>
                  {% endif %}
                  <i class="{{ style.icon_name }} text-status"></i>
                </div>
              </div>
            </td>
            {% include 'tables/cell_clickable.html' with size='5' text=result.id|remove_prefix:strip_id_prefix %}
            {% include 'tables/cell_clickable.html' with size='6' text=result.name %}
          </tr>
          {% if output_files %}
          <tr class="collapse{% if result.status in unsuccessful_statuses %} show{% endif %}" id="collapse-logs-{{ result.id|slugify }}">
            <td colspan="12">
              {% include 'list_artifacts.html' with artifacts=output_files %}
            </td>
          </tr>
          {% endif %}
        {% endwith %}
      {% endfor %}
    </tbody>
  </table>
</div>
