{% load cache %}
{% load styles %}
{% load strutils %}
{% load timetag %}

<div class="table-responsive">
  <table class="table table-hover table-sm" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th></th>
        <th>ID</th>
        <th>Name</th>
        {% if not hide_build_columns %}
        <th>Tree</th>
        <th>Kernel Version</th>
        <th>Architecture</th>
        {% endif %}
        <th>Start Time</th>
        <th>Duration</th>
        <th>Environment</th>
      </tr>
    </thead>
    <tbody>
      {% for test in tests %}
        {% cache DEFAULT_CACHE_TTL_S table_kcidb_tests_row test.iid strip_id_prefix %}
        {% with url_name='views.kcidb.tests' id=test.iid style=test|get_test_style %}
          <tr class="{{ style }} border-left-status table-status">
            <td>
              <a href="{% url url_name id %}" class="clickable-cell">
                {% if test.is_triaged %}
                <i class="fas fa-bug text-danger" title="Has issues associated"></i>
                {% endif %}
                <i title="Waived test (this result does not affect overall test result)"
                   class="fas {% include 'waived_icon.html' with waived=test.waived %}"></i>
                <i class="{{ style.icon_name }} text-status"></i>
                {% with untriaged_failures_count=test.testresults_untriaged_failures.count %}
                {% if untriaged_failures_count %}
                <sub class="text-danger" title="{{ untriaged_failures_count }} untriaged subtest failure{{ untriaged_failures_count|pluralize }}">
                  {{ untriaged_failures_count }}
                </sub>
                {% endif %}
                {% endwith %}
                {% if test.targeted %}
                  <i class="fas fa-bullseye text-success" title='Is a targeted test.'></i>
                {% endif %}
              </a>
            </td>
            {% include 'tables/cell_clickable.html' with text=test.id|remove_prefix:strip_id_prefix %}
            {% include 'tables/cell_clickable.html' with size="fill" text=test.test.name %}

            {% if not hide_build_columns %}
            {% include 'tables/cell_clickable.html' with text=test.build.checkout.tree %}
            {% include 'tables/cell_clickable.html' with text=test.build.checkout.kernel_version|default:test.build.checkout.git_commit_hash %}
            {% include 'tables/cell_clickable.html' with text=test.build.get_architecture_display %}
            {% endif %}

            {% include 'tables/cell_clickable.html' with text=test.start_time %}
            {% include 'tables/cell_clickable.html' with text=test.duration|default:''|timetag %}
            {% include 'tables/cell_clickable.html' with text=test.environment %}
          </tr>
        {% endwith %}
        {% endcache %}
      {% endfor %}
    </tbody>
  </table>
</div>
