{% extends "base.html" %}
{% load strutils %}
{% load static %}

{% block title %}
{{type|title}}
{% endblock %}

{% block script %}
<script src="{% static 'js/sorttable.js' %}"></script>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

  $(function () {
    $('[data-toggle="popover"]').popover(
      {
          'html': true,  // Treat the content as html.
      }
    ).on('click', function (e) {
      // Close other open popovers when clicking one
      $('[data-toggle="popover"]').not(this).popover('hide');
     });
  })

</script>
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Confidence</li>
    <li class="breadcrumb-item active"><a href="{% url 'views.confidence' type|addstr:'s' %}">{{ type|addstr:'s'|capfirst }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      {% if type == 'host' %}
        {% include "link_beaker_host.html" %}
      {% else %}
        {{ item.name }}
      {% endif %}
    </li>
  </ol>
</nav>
{% endblock %}

{% block content %}

{% if type == 'test' %}
  <div class="row">
    <div class="col-xl-12 mb-2">
      <div class="card">
        <div class="card-body mt-0">
          <div class="row">
            <div class="col-6">
              <label>Name:</label> {{ item.name }}
            </div>
            <div class="col-6">
              <label>Path:</label> {{ item.universal_id }}
            </div>
            {% if item.fetch_url %}
              <div class="col-12">
                <label>Fetch URL:</label>
                <a href="{{ item.fetch_url }}">{{ item.fetch_url }}</a>
              </div>
            {% endif %}
            {% with maintainers=item.maintainers.all %}
              {% if maintainers %}
                <div class="col-12">
                  <label>Maintainers:</label>
                  {% for maintainer in maintainers %}
                    {% include 'popover_maintainer.html' %}
                    {% if not forloop.last %}-{% endif %}
                  {% endfor %}
                </div>
              {% endif %}
            {% endwith %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<form class="form-inline" action="" method="get">
  <div class="input-group mb-2 mr-sm-2">
    <select class="form-control" id="result" name="result">
      <option disabled selected hidden>Status</option>
      <option value="">(Any)</option>
      {% for result in models_ResultEnum %}
      <option value="{{ result.label }}" {% if result_filter == result %}selected{% endif %}>{{ result.label }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="input-group mb-2 mr-sm-2">
    <select class="form-control" id="arch" name="arch">
      <option disabled selected hidden>Architecture</option>
      <option value="">(Any)</option>
      {% for arch in models_ArchitectureEnum %}
      <option value="{{ arch.label }}" {% if arch_filter == arch %}selected{% endif %}>{{ arch.label }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="input-group mb-2 mr-sm-2">
    <select class="form-control" id="issues_tagged" name="issues_tagged">
      <option disabled selected hidden>Issues tagged</option>
      <option value="">(Any)</option>
      <option value="True" {% if issues_tagged_filter == 'True' %}selected{% endif %}>Yes</option>
      <option value="False" {% if issues_tagged_filter == 'False' %}selected{% endif %}>No</option>
    </select>
  </div>

  <div class="input-group mb-2 mr-sm-2">
    <input type="text" name="tree" class="form-control border-0 small" placeholder="Tree" value="{{ tree_filter|default:'' }}">
  </div>

  <button type="submit" class="btn btn-primary mb-2">Filter</button>
</form>

<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#checkouts">Checkouts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#table">Results Summary by
    {% if type == 'test' %}
    Host
    {% elif type == 'host' %}
    Test
    {% endif %}
    </a>
  </li>
</ul>

<div class="tab-content">
  <div id="checkouts" class="tab-pane active">
    {% for run in runs %}
    <div class="card shadow mb-4">
      <div class="card-header py-3">

      {% with checkout=run.checkout %}
      <div class="row">
        <div class="col">
          <h5 class="m-0">Checkout
              <a href="{% url 'views.kcidb.checkouts' checkout.iid %}">{{ checkout.id }}</a>
          </h5>
       </div>
        <div class="col" align="right">
          {% include 'checkout_details_header.html' %}
       </div>
      </div>
      {% endwith %}

      </div>
      <div class="card-body">
          {% with test_jobs=run.tests %}
            {% if type == 'test' %}
            {% include 'tables/table_kcidb_test_details_by_test.html' %}
            {% elif type == 'host' %}
            {% include 'tables/table_kcidb_test_details_by_host.html' %}
            {% endif %}
          {% endwith %}
      </div>
    </div>
    {% endfor%}

    {% include 'paginator.html'  %}

  </div>
  <div id="table" class="tab-pane">
    <div class="card shadow mb-4">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-sm sortable" id="pipelinesTable" width="100%" cellspacing="0">
            <thead>
              <tr class="d-flex">
                {% if type == 'test' %}
                <th class="col-5">Host</th>
                {% elif type == 'host' %}
                <th class="col-5">Test</th>
                {% endif %}
                <th class="col-1">Total</th>
                {% for result in models_ResultEnum %}
                <th class="col-1">{{ result.label }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% load getattribute %}
              {% for item in table %}
              <tr class="d-flex">
                <td class="col-5">
                  {% if type == 'test' %}
                    {% include "link_beaker_host.html" with type="tasks" %}
                  {% elif type == 'host' %}
                    {{ item.name }}
                  {% endif %}
                </td>
                <td class="col-1">{{ item.total_runs }}</td>
                {% for result in models_ResultEnum %}
                <td class="col-1">{{ item|getattribute:result.label }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
