{% comment %}
Render two cards, one with blockers and other with non-blocking untriaged tests.

The first card is composed by two tables, one with blocking builds and other with blocking tests.

Args:
  object: KCIDBCheckout or KCIDBBuild to fill the rendered tables
{% endcomment %}

{% load styles %}
{% load queryset_utils %}

{% with untriaged_tests_blocking=object.untriaged_tests_blocking untriaged_tests_non_blocking=object.untriaged_tests_non_blocking %}
  {% if object.stats_builds_untriaged or untriaged_tests_blocking %}
    <div class="row">
      <div class="col-xl-12 mb-2">
        <div class="card shadow border-left-danger h-100">
          <div class="card-body">
            <div class="card-title d-flex justify-content-start align-items-center">
              <div class="text-xs font-weight-bold text-uppercase">
                <i class="fas fa-fire-extinguisher text-danger mr-1"></i>
                Untriaged Blocking Failures
              </div>
            </div>

            {% if object.stats_builds_untriaged %}
              <!-- Blocking builds -->
              <div class="table-responsive">
                <table class="table table-hover table-sm" width="100%" cellspacing="0">
                  <tbody>
                    {% for build in object.builds_untriaged %}
                      {% include 'tables/row_build_simple.html' %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            {% endif %}

            {% if untriaged_tests_blocking %}
              <!-- Blocking tests -->
              <div class="table-responsive">
                <table class="table table-hover table-sm" width="100%" cellspacing="0">
                  <tbody>
                    {% for test in untriaged_tests_blocking %}
                      {% include 'tables/row_test_simple.html' %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if untriaged_tests_non_blocking %}
    <div class="row">
      <div class="col-xl-12 mb-2">
        <div class="card shadow h-100">
          <div class="card-body">
            <div class="card-title d-flex justify-content-start align-items-center">
              <div class="text-xs font-weight-bold text-uppercase">
                <i class="fas fa-fire-extinguisher mr-1"></i>
                Untriaged Issues
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-hover table-sm" width="100%" cellspacing="0">
                <tbody>
                  {% for test in untriaged_tests_non_blocking %}
                    {% include 'tables/row_test_simple.html' %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endwith %}
