{% comment %}
Renders two cards with a table listing KCIDBTestResult. The first with failures and the second with all the rest of unsuccessful status.

Args:
  test: the KCIDBTest instance, parent of the listed KCIDBTestResults
{% endcomment %}

{% load styles %}
{% load queryset_utils %}

{% if test.testresults_untriaged_failures %}
<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card shadow border-left-danger h-100">
      <div class="card-body">
        <div class="card-title d-flex justify-content-start align-items-center">
          <div class="text-xs font-weight-bold text-uppercase">
            <i class="fas fa-fire-extinguisher text-danger mr-2"></i>
            {% comment %} In the future "Actionable" might become "Blocking" {% endcomment %}
            Untriaged Actionable Failures
          </div>
        </div>

        {% include 'tables/table_kcidb_test_results_simple.html' with results=test.testresults_untriaged_failures %}
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if test.testresults_untriaged_nonfailures %}
<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card shadow h-100">
      <div class="card-body">
        <div class="card-title d-flex justify-content-start align-items-center">
          <div class="text-xs font-weight-bold text-uppercase">
            <i class="fas fa-fire-extinguisher mr-2"></i>
            Untriaged Issues
          </div>
        </div>

        {% include 'tables/table_kcidb_test_results_simple.html' with results=test.testresults_untriaged_nonfailures%}
      </div>
    </div>
  </div>
</div>
{% endif %}
