{% load styles %}

{% if object %}
  {% if object.stats_builds_running_count %}
    {% with style="Running"|get_style %}
    <span class="{{ style }} text-status">
      {{ object.stats_builds_running_count }}
      <i class="{{ style.icon_name }}" title="Running"></i>
    </span>
    {% endwith %}
  {% endif %}

  {% if object.stats_builds_pass_count %}
    {% with style="P"|get_style %}
    <span class="{{ style }} text-status">
      {{ object.stats_builds_pass_count }}
      <i class="{{ style.icon_name }}" title="Passed"></i>
    </span>
    {% endwith %}
  {% endif %}

  {% if object.stats_builds_fail_count %}
    {% with style="F"|get_style %}
    <span class="{{ style }} text-status">
      {{ object.stats_builds_fail_count }}
      <i class="{{ style.icon_name }}" title="Failed"></i>
    </span>
    {% endwith %}
  {% endif %}
{% endif %}
