{% load static %}
{% load styles %}

<div class="modal fade px-5" id="siblingCheckouts" tabindex="-1" role="dialog" aria-labelledby="siblingCheckoutsLabel" aria-hidden="true">
  <div class="modal-dialog mw-100" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="siblingCheckoutsLabel">Checkouts from the same Merge Request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% include 'tables/table_kcidb_checkouts.html' %}
      </div>
    </div>
  </div>
</div>
