{% load avatar %}
<li class="nav-item dropdown no-arrow">
  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="mr-2 d-none d-lg-inline text-gray-600 small">
        {% if user.is_authenticated %}
        {{ user.first_name }}
        {% else %}
        Anonymous
        {% endif %}
    </span>
    {% if user.is_authenticated %}
    <img class="img-profile rounded-circle" src="{{ user.email|avatar_url }}">
    {% endif %}

  </a>
  <!-- Dropdown - User Information -->
  <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
    {% if user.is_authenticated %}
      <a class="dropdown-item" href="{% url 'account.user.get' request.user.username %}">Profile</a>
      <a class="dropdown-item" href="{% url 'account.user.settings' %}">Settings</a>
      <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
    {% else %}
      <a class="dropdown-item" href="{% url 'login' %}?next={{ request.get_full_path }}">Login</a>
    {% endif %}
  </div>
</li>

