{% extends "base_single_card.html" %}

{% block title %}
Login
{% endblock %}

{% block card %}
<div class="text-center">
  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
</div>
<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  {% if FF_SAML_ENABLED %}
   <div id="login_saml_button_container">
    <a href="{% url 'saml2_login' %}?next={{ next }}"
       class="btn btn-primary btn-user btn-block">Login with {{ SAML_NAME }}</a>
    <hr>
    </div>
  {% endif %}
  <div class="form-group">
    <input type="text" name="username" id="username"
           class="form-control form-control-user {% if FF_SAML_ENABLED %} hide {% endif %}"
           placeholder="Enter Username...">
  </div>
  <div class="form-group">
    <input type="password" name="password" id="password"
           class="form-control form-control-user {% if FF_SAML_ENABLED %} hide {% endif %}"
           placeholder="Password" autocomplete="off">
  </div>

  {% if form.errors %}
  <p id="credentials_error">Your username and password didn't match. Please try again.</p>
  {% endif %}
  <div id='login_via_username_container'>
    {% if FF_SAML_ENABLED %}
       <p class="btn btn-secondary btn-user btn-block">Login via username</p>
    {% else %}
       <input type="submit" class="btn btn-primary btn-user btn-block" value="Login"/>
    {% endif %}
  </div>
  <input type="hidden" name="next" value="{{ next }}">
  <hr>
  <small>
  <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
  {% if FF_SIGNUP_ENABLED %}
  <p><a href="{% url 'account.signup' %}">Create an account</a></p>
  {% endif %}
  </small>
</form>


<script>

// Remove the credentials error, if present.
function maybeRemoveCredentialsError() {
  const credError = document.getElementById('credentials_error');
   if (credError) {
     credError.parentNode.removeChild(credError);
   }
}

// Remove the login SAML button, if present.
function maybeRemoveLoginSamlButton() {
  const div = document.getElementById('login_saml_button_container');
  if (div) {
     for (let child of Array.from(div.children)) {
       div.removeChild(child);
     }
  }
}

// Show the credentials form.  A noop if the form is already shown.
function showCredentialsForm() {
  const username = document.getElementById('username');
  const password = document.getElementById('password');
  if (username && password && username.classList.contains('hide')) {
     maybeRemoveLoginSamlButton();
     username.classList.remove('hide');
     password.classList.remove('hide');
     const div = document.getElementById('login_via_username_container');
     // Replace the <p> tag child with a <input> tag.  The new tag has
     // the same class list as the original <p> tag.
     const pElem = div.firstElementChild;
     const inputElem = document.createElement('input');
     inputElem.setAttribute('type', 'submit');
     inputElem.setAttribute('value', 'Login');
     pElem.classList.forEach((name) => { inputElem.classList.add(name); })
     // Show the button with btn-primary style.
     inputElem.classList.remove('btn-secondary');
     inputElem.classList.add('btn-primary');

     maybeRemoveCredentialsError();
     div.removeChild(pElem);
     div.appendChild(inputElem);
  }
}

// If the credentials form is hiden, add a listener to show the form when
// the user clicks the 'login via username' button.
function maybeAddEventListener() {
  const username = document.getElementById('username');
  if (username.classList.contains('hide')) {
    const div = document.getElementById('login_via_username_container');
    div.addEventListener('click', showCredentialsForm);
  }
}
maybeAddEventListener()
    
</script>


{% endblock %}
