{% extends "base.html" %}
{% load avatar %}

{% block title %}
{{ queried_user.first_name }}
{% endblock %}

{% block content %}

<div class="col-lg-12">
  <div class="card o-hidden border-0 shadow-lg my-2">
    <div class="card-body p-0">
      <div class="row justify-content-center">
        <div class="p-5">
          <div class="text-center">
            <img src="{{ queried_user.email|avatar_url:140 }}" width="140" height="140" class="img-profile rounded-circle">
            <h3>{{ queried_user.first_name }}</h3>
            <h5>@{{ queried_user.username }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
