:root {
    --status-skip: #858796;
    --status-done: #1cc88a;
    --status-pass: #1cc88a;
    --status-miss: #f6c23e;
    --status-error: #fd7e14;
    --status-fail: #e74a3b;
    --status-running: #36b9cc;
    --bg-mix: 72%;
    --border-mix: 48%;
    --hover-mix: 60%;
    --status-color: inherit;
}

/*
Colors calculated from base color
values come from https://github.com/StartBootstrap/startbootstrap-sb-admin-2/
--status-color:         base color          var(--status-skip)
--status-color-bg:      table bg color      color-mix(in srgb, #fff var(--bg-mix), var(--status-color))
--status-color-border:  table border color  color-mix(in srgb, #fff var(--border-mix), var(--status-color))
--status-color-hover:   table hover color   color-mix(in srgb, #fff var(--hover-mix), var(--status-color))
*/

.status-skip {
    --status-color: #858796;
    --status-color-bg: #dddde2;
    --status-color-border: #c0c1c8;
    --status-color-hover: #cecfd5;
}

.status-done {
    --status-color: #1cc88a;
    --status-color-bg: #bff0de;
    --status-color-border: #89e2c2;
    --status-color-hover: #a4e9d0;
}

.status-pass {
    --status-color: #1cc88a;
    --status-color-bg: #bff0de;
    --status-color-border: #89e2c2;
    --status-color-hover: #a4e9d0;
}

.status-miss {
    --status-color: #f6c23e;
    --status-color-bg: #fceec9;
    --status-color-border: #fadf9b;
    --status-color-hover: #fbe7b2;
}

.status-error {
    --status-color: #fd7e14;
    --status-color-bg: #fedbbd;
    --status-color-border: #febc85;
    --status-color-hover: #fecba1;
}

.status-fail {
    --status-color: #e74a3b;
    --status-color-bg: #f8ccc8;
    --status-color-border: #f3a199;
    --status-color-hover: #f5b7b1;
}

.status-running {
    --status-color: var(--status-running);
    --status-color-bg: #c7ebf1;
    --status-color-border: #96dbe4;
    --status-color-hover: #afe3eb;
}

.table tr:last-child {
    border-bottom: 1px solid #e3e6f0;
}

.table tr.colored-bg:last-child {
    border-bottom: 1px solid var(--status-color-border);
}

.table-status.colored-bg,
.table-status.colored-bg > th,
.table-status.colored-bg > td {
    background-color: var(--status-color-bg);
}

.table-status.colored-bg th,
.table-status.colored-bg td,
.table-status.colored-bg thead th,
.table-status.colored-bg tbody + tbody {
    border-color: var(--status-color-border);
}

.table-hover .table-status.colored-bg:hover {
    background-color: var(--status-color-hover);
}

.table-hover .table-status.colored-bg:hover > td,
.table-hover .table-status.colored-bg:hover > th {
    background-color: var(--status-color-hover);
}

.card.border-left-status.colored-bg {
    background-color: var(--status-color-bg);
}

.border-left-status {
    border-left: 0.25rem solid var(--status-color) !important;
}

.text-status {
    color: var(--status-color);
}

.shadow-primary {
    -webkit-box-shadow: 0 0.15rem 1.75rem 0 hsla(225, 69%, 59%, 0.25) !important;
    box-shadow: 0 0.15rem 1.75rem 0 hsla(225, 69%, 59%, 0.25) !important;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE"
}
table.sortable th {
    cursor: pointer
}
[data-toggle="collapse"][aria-expanded="false"] .rotate-if-collapsed {
    transform: rotate(-90deg);
}
.gitlab_icon, .beaker_icon .code_icon {
    white-space: nowrap;
}
.gitlab_icon::before {
    font-family: "Font Awesome 5 Brands";
    content: "\f296  ";
}
.beaker_icon::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0c3  ";
}
.jenkins_icon::before {
    font-family: "Font Awesome 5 Brands";
    content: "\f3b6  ";
}
.external_link_icon::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f35d  ";
}
.code_icon::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f126  ";
}
/* input clear buttons */
.input-clear {
    background-color: white;
}
/* font size 14px in tables similar to Gitlab */
.table {
    font-size: 0.875rem;
}
.table th, .table td {
    padding: 0.4rem;
}
/* accessibility: increase contrast */
.table, body, .form-control, .form-control:focus, .input-clear {
    color: #404040;
}
td, td a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* The last cell doesn't need to be clipped, since there's nothing after it */
td:last-child, td:last-child a {
    overflow: inherit;
    text-overflow: inherit;
}

td.clickable-cell {
    cursor: pointer;
}
a.clickable-cell {
    display: block;
    text-decoration: none;
    color: inherit;
}

#collapseUtilities{
    z-index: 2;
}

.col-1-big {
  -ms-flex: 0 0 12.5%;
  flex: 0 0 12.5%;
  max-width: 12.5%;
}

.col-0-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 4.15555%;
  flex: 0 0 4.15555%;
  max-width: 4.15555%;
}

pre.wrapped {
    white-space: pre-wrap;
}

label {
  font-weight: bold;
}

label.optional:after {
  font-size: 80%;
  font-weight: normal;
  content: " (optional)";
}

label.form-check-label {
    font-weight: normal;
}

.action-icons-right {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.action-icons-right button {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.modal-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

code {
    white-space: pre;
}

.rotate .chevron {
    -moz-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
    cursor: pointer;
}

.rotate.down .chevron {
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}

.hide{
    display: none;
}
.show-hidden:hover .hide{
    display: inline-block;
}

.decrease-opacity{
  opacity: 0.2;
}

.show-decreased-opacity:hover .decrease-opacity{
  opacity: 1;
}

.decrease-opacity[type="checkbox"]:checked {
  opacity: 1;
}

.hovering-footer {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.9;
}

.overflow-scroll {
  overflow: scroll;
}

/*
   Overrides from sb-admin-2.css
   We load custom.css right after loading sb-admin-2.min.css. That
   means, you can override here sb-admin-2 definitions.
*/

/* Some developers get confused by the error class animation: disable it */
.error:before {
    animation: none;
}

.error:after {
    animation: none;
}


#tests-filter {
    align-items: flex-start;
    justify-content: space-between;

}

#tests-filter fieldset {
    align-items: stretch;
    flex-direction: column;
}

#tests-filter label {
    flex: 1;
}

#tests-filter input[type=text], #tests-filter select {
    flex: 1;
    margin-left: 1em;
    width: 100%;
}
